In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('flavors_of_cacao.csv')
df

,CompanyÂ (Maker-if known),Specific Bean Origin or Bar Name,REF,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru
5,A. Morin,Carenero,1315,2014,70%,France,2.75,Criollo,Venezuela
6,A. Morin,Cuba,1315,2014,70%,France,3.50,,Cuba
7,A. Morin,Sur del Lago,1315,2014,70%,France,3.50,Criollo,Venezuela
8,A. Morin,Puerto Cabello,1319,2014,70%,France,3.75,Criollo,Venezuela
9,A. Morin,Pablino,1319,2014,70%,France,4.00,,Peru
10,A. Morin,Panama,1011,2013,70%,France,2.75,,Panama
11,A. Morin,Madagascar,1011,2013,70%,France,3.00,Criollo,Madagascar
12,A. Morin,Brazil,1011,2013,70%,France,3.25,,Brazil
13,A. Morin,Equateur,1011,2013,70%,France,3.75,,Ecuador
14,A. Morin,Colombie,1015,2013,70%,France,2.75,,Colombia
15,A. Morin,Birmanie,1015,2013,70%,France,3.00,,Burma
16,A. Morin,Papua New Guinea,1015,2013,70%,France,3.25,,Papua New Guinea
17,A. Morin,Chuao,1015,2013,70%,France,4.00,Trinitario,Venezuela
18,A. Morin,Piura,1019,2013,70%,France,3.25,,Peru
19,A. Morin,Chanchamayo Province,1019,2013,70%,France,3.50,,Peru
20,A. Morin,Chanchamayo Province,1019,2013,63%,France,4.00,,Peru
21,A. Morin,Bolivia,797,2012,70%,France,3.50,,Bolivia
22,A. Morin,Peru,797,2012,63%,France,3.75,,Peru
23,Acalli,"Chulucanas, El Platanal",1462,2015,70%,U.S.A.,3.75,,Peru
24,Acalli,"Tumbes, Norandino",1470,2015,70%,U.S.A.,3.75,Criollo,Peru
25,Adi,Vanua Levu,705,2011,60%,Fiji,2.75,Trinitario,Fiji
26,Adi,"Vanua Levu, Toto-A",705,2011,80%,Fiji,3.25,Trinitario,Fiji
27,Adi,Vanua Levu,705,2011,88%,Fiji,3.50,Trinitario,Fiji
28,Adi,"Vanua Levu, Ami-Ami-CA",705,2011,72%,Fiji,3.50,Trinitario,Fiji
29,Aequare (Gianduja),"Los Rios, Quevedo, Arriba",370,2009,55%,Ecuador,2.75,Forastero (Arriba),Ecuador
...,...,...,...,...,...,...,...,...,...
1765,Zak's,"Belize, Batch 2",1578,2015,70%,U.S.A.,3.50,Trinitario,Belize
1766,Zak's,"House Blend, Batch 2",1582,2015,60%,U.S.A.,3.00,,
1767,Zart Pralinen,"Millot P., Ambanja",1820,2016,70%,Austria,3.50,"Criollo, Trinitario",Madagascar
1768,Zart Pralinen,UNOCACE,1824,2016,70%,Austria,2.75,Nacional (Arriba),Ecuador
1769,Zart Pralinen,San Juan Estate,1824,2016,85%,Austria,2.75,Trinitario,Trinidad
1770,Zart Pralinen,"Kakao Kamili, Kilombero Valley",1824,2016,85%,Austria,3.00,"Criollo, Trinitario",Tanzania
1771,Zart Pralinen,"Kakao Kamili, Kilombero Valley",1824,2016,70%,Austria,3.50,"Criollo, Trinitario",Tanzania
1772,Zart Pralinen,"San Juan Estate, Gran Couva",1880,2016,78%,Austria,3.50,Trinitario,Trinidad
1773,Zokoko,Guadalcanal,1716,2016,78%,Australia,3.75,,Solomon Islands
1774,Zokoko,Goddess Blend,1780,2016,65%,Australia,3.25,,
1775,Zokoko,Alto Beni,697,2011,68%,Australia,3.50,,Bolivia
1776,Zokoko,Tokiala,701,2011,66%,Australia,3.50,Trinitario,Papua New Guinea
1777,Zokoko,"Tranquilidad, Baures",701,2011,72%,Australia,3.75,,Bolivia
1778,Zotter,Raw,1205,2014,80%,Austria,2.75,,
1779,Zotter,"Bocas del Toro, Cocabo Co-op",801,2012,72%,Austria,3.50,,Panama
1780,Zotter,Amazonas Frucht,801,2012,65%,Austria,3.50,,
1781,Zotter,"Satipo Pangoa region, 16hr conche",875,2012,70%,Austria,3.00,Criollo (Amarru),Peru
1782,Zotter,"Satipo Pangoa region, 20hr conche",875,2012,70%,Austria,3.50,Criollo (Amarru),Peru
1783,Zotter,"Loma Los Pinos, Yacao region, D.R.",875,2012,62%,Austria,3.75,,Dominican Republic
1784,Zotter,El Oro,879,2012,75%,Austria,3.00,Forastero (Nacional),Ecuador
1785,Zotter,Huiwani Coop,879,2012,75%,Austria,3.00,"Criollo, Trinitario",Papua New Guinea
1786,Zotter,El Ceibo Coop,879,2012,90%,Austria,3.25,,Bolivia
1787,Zotter,Santo Domingo,879,2012,70%,Austria,3.75,,Dominican Republic
1788,Zotter,"Kongo, Highlands",883,2012,68%,Austria,3.25,Forastero,Congo
1789,Zotter,"Indianer, Raw",883,2012,58%,Austria,3.50,,
1790,Zotter,Peru,647,2011,70%,Austria,3.75,,Peru
1791,Zotter,Congo,749,2011,65%,Austria,3.00,Forastero,Congo
1792,Zotter,Kerala State,749,2011,65%,Austria,3.50,Forastero,India
1793,Zotter,Kerala State,781,2011,62%,Austria,3.25,,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,,Brazil

In [3]:
df2 = pd.read_csv('C:/Users/Admin/Documents/Py_practice/Pandas/startup_funding.csv')
df2

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,0,01/08/2017,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
1,1,02/08/2017,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,2,02/08/2017,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
3,3,02/08/2017,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN
4,4,02/08/2017,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000",NaN
5,5,01/07/2017,Billion Loans,Consumer Internet,Peer to Peer Lending platform,Bangalore,Reliance Corporate Advisory Services Ltd,Seed Funding,"1,000,000",NaN
6,6,03/07/2017,Ecolibriumenergy,Technology,Energy management solutions provider,Ahmedabad,"Infuse Ventures, JLL",Private Equity,"2,600,000",NaN
7,7,04/07/2017,Droom,eCommerce,Online marketplace for automobiles,Gurgaon,"Asset Management (Asia) Ltd, Digital Garage Inc",Private Equity,"20,000,000",NaN
8,8,05/07/2017,Jumbotail,eCommerce,online marketplace for food and grocery,Bangalore,"Kalaari Capital, Nexus India Capital Advisors",Private Equity,"8,500,000",NaN
9,9,05/07/2017,Moglix,eCommerce,B2B marketplace for Industrial products,Noida,"International Finance Corporation, Rocketship,...",Private Equity,"12,000,000",NaN
10,10,05/07/2017,Timesaverz,Consumer Internet,Hyperlocal home services provider,Mumbai,BCCL,Private Equity,"1,000,000",NaN
11,11,06/07/2017,Minjar,Technology,Cloud Solutions provider,Bangalore,"Blume Ventures, Contrarian Capital India Partn...",Seed Funding,NaN,NaN
12,12,06/07/2017,MyCity4kids,Consumer Internet,parenting blog and kidsâ events discovery plat...,Gurgaon,NaN,Seed Funding,NaN,NaN
13,13,07/07/2017,Clip App,Consumer Internet,Digital Media Video platform,Bangalore,"India Quotient, Shunwei Capital",Seed Funding,"1,000,000",NaN
14,14,07/07/2017,Upwardly.in,Consumer Internet,MF investment platform,Bangalore,"Sreeram Iyer, Suvo Sarkar, Anita Gupta, Likemi...",Seed Funding,NaN,NaN
15,15,10/07/2017,Autorox.co,Technology,Workshop Management Software Platform,Hyderabad,Mitsui & Co.,Private Equity,"3,000,000",NaN
16,16,11/07/2017,Fabogo,Consumer Internet,Salon & Spa Aggregation & Discovery platform,Pune,Dunamis Ventures Pte Ltd,Private Equity,"2,250,000",NaN
17,17,11/07/2017,Flickstree,Consumer Internet,Video Content Discovery Platform,Mumbai,"Venture Catalysts, Sourav Ganguly, Ankit Adity...",Seed Funding,"464,000",NaN
18,18,11/07/2017,Design Cafe,Consumer Internet,Online Interior Design platform,Bangalore,"Fireside Ventures, Apurva Salarpuria, Sidharth...",Seed Funding,NaN,NaN
19,19,12/07/2017,Innoviti,Technology,Digital payments solutions,Bangalore,"SBI-FMO Fund, Bessemer Venture Partners, Catam...",Private Equity,"18,500,000",NaN
20,20,12/07/2017,VDeliver,Logistics,Door Step Delivery platform,Hyderabad,"Corvus Ventures, MAPE Advisory Group",Private Equity,NaN,NaN
21,21,12/07/2017,Bottr.me,Technology,Chatbot creation tool,Bangalore,"500 Startups, Purvi Capital, Rajan Anandan, Ab...",Seed Funding,NaN,NaN
22,22,12/07/2017,Arcatron,Technology,Next Gen Mobility device manufacturer,Pune,Indian Angel Network,Seed Funding,NaN,NaN
23,23,14/07/2017,QwikSpec,Technology,Construction site operations and analytics pla...,Bangalore,"Brigade Innovations LLP, TV Mohandas Pai, Suha...",Seed Funding,"540,000",NaN
24,24,14/07/2017,Chumbak,eCommerce,Designer consumer products Marketplace,Bangalore,Blacksoil Capital Pvt. Ltd,Private Equity,"1,700,000",NaN
25,25,17/07/2017,Increff,Technology,Sales Solutions for Fashion Brands,Bangalore,"Sequoia Capital, Grey Orange, Rajesh Ramaiah, ...",Seed Funding,"2,000,000",NaN
26,26,17/07/2017,Vayana,Technology,Enterprise Banking Solutions,Pune,"IDG Ventures India Advisors, Jungle Ventures",Private Equity,"4,000,000",NaN
27,27,18/07/2017,MObiquest,Technology,Mobile Services & Solutions,Noida,One97 Communication Ltd,Private Equity,NaN,NaN
28,28,18/07/2017,Ambee,Consumer Internet,Ambulance Aggregation Services,Hyderabad,"Uber Technologies Inc, Amaya Capital LLP",Seed Funding,NaN,NaN
29,29,18/07/2017,Ideal Insurance,Consumer Internet,Online Insurance platform,Kolkata,Xelpmoc,Seed Funding,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2342,2342,19/01/2015,Refiral,NaN,NaN,NaN,Cogent E Services,Seed Funding,"330,000",NaN
2343,2343,19/01/2015,Ping Digital,NaN,NaN,NaN,Consortium of Angel Investors,Seed Funding,NaN,NaN
2344,2344,19/01/2015,HealthyWorld.in,NaN,NaN,NaN,Group of Angel Investors,Seed Funding,"200,000",NaN
2345,2345,19/01/2015,Hostel Dunia,NaN,NaN,NaN,Hyderabad Angels (at Startup Heroes event),Seed Funding,"16,000",NaN
2346,2346,19/01/2015,Play your sport,NaN,NaN,NaN,Hyderabad Angels (at Startup Heroes event),Seed Funding,"16,000",NaN
2347,2347,19/01/2015,Yo Grad,NaN,NaN,NaN,Hyderabad Angels (at Startup Heroes event),Seed Funding,"16,000",NaN
2348,2348,19/01/2015,Enabli,NaN,NaN,NaN,Hyderabad Angels (at Startup Heroes event),Seed Funding,"16,000",NaN
2349,2349,19/01/2015,CBS,NaN,NaN,NaN,Hyderabad Angels (at Startup Heroes event),Seed Funding,"16,000",NaN
2350,2350,20/01/2015,Hopscotch,NaN,NaN,NaN,Eduardo Saverin & Velos Capital,Private Equity,"11,000,000",NaN
2351,2351,20/01/2015,Amagi Media Labs,NaN,NaN,NaN,Premji Invest & Mayfield Fund,Private Equity,NaN,NaN
2352,2352,20/01/2015,HealthyWorld.in,NaN,NaN,NaN,Group of Angel Investors,Seed Funding,"200,000",NaN
2353,2353,21/01/2015,Simplilearn,NaN,NaN,NaN,"Mayfield India, Kalaari Capital, Helion Ventures",Private Equity,"14,750,000",NaN
2354,2354,21/01/2015,MyDreamStore,NaN,NaN,NaN,Undisclosed Investors,Seed Funding,"325,000",NaN
2355,2355,21/05/2015,Knit,NaN,NaN,NaN,"Rohit Jain, Amit Rambhia & Others",Seed Funding,NaN,NaN
2356,2356,21/05/2015,Villgro,NaN,NaN,NaN,Michael & Susan Dell Foundation,Seed Funding,"3,250,000",To fund edu startups
2357,2357,22/01//2015,Corporate360,NaN,NaN,NaN,Group of Angel Investors,Seed Funding,"200,000",NaN
2358,2358,22/01/2015,Freshmonk,NaN,NaN,NaN,"August Capital Partners, Michael Blakey",Seed Funding,NaN,NaN
2359,2359,22/01/2015,Englishleap.com,NaN,NaN,NaN,ANALEC,Private Equity,NaN,Majority Stake
2360,2360,22/01/2015,Antuit,NaN,NaN,NaN,"Goldman Sachs, Zodius Capital",Private Equity,"56,000,000",NaN
2361,2361,22/01/2015,Caratlane.com,NaN,NaN,NaN,Tiger Global,Private Equity,"31,000,000",Series D
2362,2362,24/01/2015,Aasaanjobs,NaN,NaN,NaN,"Inventus Capital Partners, IDG Ventures",Seed Funding,"1,500,000",NaN
2363,2363,24/01/2015,Impartus,NaN,NaN,NaN,Kaizen Private Equity,Private Equity,NaN,Series A
2364,2364,25/01/2015,Thrill App,NaN,NaN,NaN,People Group (Shaadi.com),Private Equity,"1,000,000",Strategic Funding
2365,2365,27/01/2015,CarDekho.com,NaN,NaN,NaN,"Hillhouse Capital, Tybourne Capital",Private Equity,"50,000,000",Series B
2366,2366,28/01/2015,Grabhouse.com,NaN,NaN,NaN,"Kalaari Capital, Sequoia Capital",Private Equity,"2,500,000",Series A
2367,2367,29/01/2015,Printvenue,NaN,NaN,NaN,Asia Pacific Internet Group,Private Equity,"4,500,000",NaN
2368,2368,29/01/2015,Graphene,NaN,NaN,NaN,KARSEMVEN Fund,Private Equity,"825,000",Govt backed VC Fund
2369,2369,30/01/2015,Mad Street Den,NaN,NaN,NaN,"Exfinity Fund, GrowX Ventures.",Private Equity,"1,500,000",NaN
2370,2370,30/01/2015,Simplotel,NaN,NaN,NaN,MakeMyTrip,Private Equity,NaN,"Strategic Funding, Minority stake"
2371,2371,31/01/2015,couponmachine.in,NaN,NaN,NaN,UK based Group of Angel Investors,Seed Funding,"140,000",NaN

In [10]:
df3 = pd.read_excel('SampleData.xlsx','SalesOrders')
df3

    OrderDate   Region       Rep     Item  Units  Unit Cost    Total
0  2016-01-06     East     Jones   Pencil     95       1.99   189.05
1  2016-01-23  Central    Kivell   Binder     50      19.99   999.50
2  2016-02-09  Central   Jardine   Pencil     36       4.99   179.64
3  2016-02-26  Central      Gill      Pen     27      19.99   539.73
4  2016-03-15     West   Sorvino   Pencil     56       2.99   167.44
5  2016-04-01     East     Jones   Binder     60       4.99   299.40
6  2016-04-18  Central   Andrews   Pencil     75       1.99   149.25
7  2016-05-05  Central   Jardine   Pencil     90       4.99   449.10
8  2016-05-22     West  Thompson   Pencil     32       1.99    63.68
9  2016-06-08     East     Jones   Binder     60       8.99   539.40
10 2016-06-25  Central    Morgan   Pencil     90       4.99   449.10
11 2016-07-12     East    Howard   Binder     29       1.99    57.71
12 2016-07-29     East    Parent   Binder     81      19.99  1619.19
13 2016-08-15     East     Jones   Pencil     35       4.99   174.65
14 2016-09-01  Central     Smith     Desk      2     125.00   250.00
15 2016-09-18     East     Jones  Pen Set     16      15.99   255.84
16 2016-10-05  Central    Morgan   Binder     28       8.99   251.72
17 2016-10-22     East     Jones      Pen     64       8.99   575.36
18 2016-11-08     East    Parent      Pen     15      19.99   299.85
19 2016-11-25  Central    Kivell  Pen Set     96       4.99   479.04
20 2016-12-12  Central     Smith   Pencil     67       1.29    86.43
21 2016-12-29     East    Parent  Pen Set     74      15.99  1183.26
22 2017-01-15  Central      Gill   Binder     46       8.99   413.54
23 2017-02-01  Central     Smith   Binder     87      15.00  1305.00
24 2017-02-18     East     Jones   Binder      4       4.99    19.96
25 2017-03-07     West   Sorvino   Binder      7      19.99   139.93
26 2017-03-24  Central   Jardine  Pen Set     50       4.99   249.50
27 2017-04-10  Central   Andrews   Pencil     66       1.99   131.34
28 2017-04-27     East    Howard      Pen     96       4.99   479.04
29 2017-05-14  Central      Gill   Pencil     53       1.29    68.37
30 2017-05-31  Central      Gill   Binder     80       8.99   719.20
31 2017-06-17  Central    Kivell     Desk      5     125.00   625.00
32 2017-07-04     East     Jones  Pen Set     62       4.99   309.38
33 2017-07-21  Central    Morgan  Pen Set     55      12.49   686.95
34 2017-08-07  Central    Kivell  Pen Set     42      23.95  1005.90
35 2017-08-24     West   Sorvino     Desk      3     275.00   825.00
36 2017-09-10  Central      Gill   Pencil      7       1.29     9.03
37 2017-09-27     West   Sorvino      Pen     76       1.99   151.24
38 2017-10-14     West  Thompson   Binder     57      19.99  1139.43
39 2017-10-31  Central   Andrews   Pencil     14       1.29    18.06
40 2017-11-17  Central   Jardine   Binder     11       4.99    54.89
41 2017-12-04  Central   Jardine   Binder     94      19.99  1879.06
42 2017-12-21  Central   Andrews   Binder     28       4.99   139.72

In [11]:
print df.shape
print df2.shape
print df3.shape

(1795, 9)
(2372, 10)
(43, 7)

In [15]:
rows,columns = df3.shape #Tuple unpacking

In [16]:
rows

43

In [17]:
columns

7

In [18]:
df.head() #returns first 5 rows

,CompanyÂ (Maker-if known),Specific Bean Origin or Bar Name,REF,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,,Togo
3,A. Morin,Akata,1680,2015,70%,France,3.50,,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,,Peru

In [19]:
df2.tail() #returns bottom 5 rows

,SNo,Date,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
2367,2367,29/01/2015,Printvenue,NaN,NaN,NaN,Asia Pacific Internet Group,Private Equity,"4,500,000",NaN
2368,2368,29/01/2015,Graphene,NaN,NaN,NaN,KARSEMVEN Fund,Private Equity,"825,000",Govt backed VC Fund
2369,2369,30/01/2015,Mad Street Den,NaN,NaN,NaN,"Exfinity Fund, GrowX Ventures.",Private Equity,"1,500,000",NaN
2370,2370,30/01/2015,Simplotel,NaN,NaN,NaN,MakeMyTrip,Private Equity,NaN,"Strategic Funding, Minority stake"
2371,2371,31/01/2015,couponmachine.in,NaN,NaN,NaN,UK based Group of Angel Investors,Seed Funding,"140,000",NaN

In [20]:
df3.head(2)

   OrderDate   Region     Rep    Item  Units  Unit Cost   Total
0 2016-01-06     East   Jones  Pencil     95       1.99  189.05
1 2016-01-23  Central  Kivell  Binder     50      19.99  999.50

In [21]:
df.tail(2)

,CompanyÂ (Maker-if known),Specific Bean Origin or Bar Name,REF,Review Date,Cocoa Percent,Company Location,Rating,Bean Type,Broad Bean Origin
1793,Zotter,Kerala State,781,2011,62%,Austria,3.25,,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,,Brazil

In [22]:
df3[3:10]

   OrderDate   Region       Rep    Item  Units  Unit Cost   Total
3 2016-02-26  Central      Gill     Pen     27      19.99  539.73
4 2016-03-15     West   Sorvino  Pencil     56       2.99  167.44
5 2016-04-01     East     Jones  Binder     60       4.99  299.40
6 2016-04-18  Central   Andrews  Pencil     75       1.99  149.25
7 2016-05-05  Central   Jardine  Pencil     90       4.99  449.10
8 2016-05-22     West  Thompson  Pencil     32       1.99   63.68
9 2016-06-08     East     Jones  Binder     60       8.99  539.40

In [24]:
df3[-2:]

    OrderDate   Region      Rep    Item  Units  Unit Cost    Total
41 2017-12-04  Central  Jardine  Binder     94      19.99  1879.06
42 2017-12-21  Central  Andrews  Binder     28       4.99   139.72

In [29]:
df.columns

Index([u'CompanyÂ \n(Maker-if known)', u'Specific Bean Origin\nor Bar Name',
       u'REF', u'Review\nDate', u'Cocoa\nPercent', u'Company\nLocation',
       u'Rating', u'Bean\nType', u'Broad Bean\nOrigin'],
      dtype='object')

In [31]:
df2.columns

Index([u'SNo', u'Date', u'StartupName', u'IndustryVertical', u'SubVertical',
       u'CityLocation', u'InvestorsName', u'InvestmentType', u'AmountInUSD',
       u'Remarks'],
      dtype='object')

In [32]:
df3.columns

Index([u'OrderDate', u'Region', u'Rep', u'Item', u'Units', u'Unit Cost',
       u'Total'],
      dtype='object')

In [34]:
#df2.StartupName
df2['StartupName']

0               TouchKin
1                Ethinos
2           Leverage Edu
3                   Zepo
4           Click2Clinic
5          Billion Loans
6       Ecolibriumenergy
7                  Droom
8              Jumbotail
9                 Moglix
10            Timesaverz
11                Minjar
12           MyCity4kids
13              Clip App
14           Upwardly.in
15            Autorox.co
16                Fabogo
17            Flickstree
18           Design Cafe
19              Innoviti
20              VDeliver
21              Bottr.me
22              Arcatron
23              QwikSpec
24               Chumbak
25               Increff
26                Vayana
27             MObiquest
28                 Ambee
29       Ideal Insurance
              ...
2342             Refiral
2343        Ping Digital
2344     HealthyWorld.in
2345        Hostel Dunia
2346     Play your sport
2347             Yo Grad
2348              Enabli
2349                 CBS
2350           Hopscotch
2351    Amagi Media Labs
2352     HealthyWorld.in
2353         Simplilearn
2354        MyDreamStore
2355                Knit
2356             Villgro
2357        Corporate360
2358           Freshmonk
2359     Englishleap.com
2360              Antuit
2361       Caratlane.com
2362          Aasaanjobs
2363            Impartus
2364          Thrill App
2365        CarDekho.com
2366       Grabhouse.com
2367          Printvenue
2368            Graphene
2369      Mad Street Den
2370           Simplotel
2371    couponmachine.in
Name: StartupName, Length: 2372, dtype: object

In [35]:
type(df2['StartupName'])

pandas.core.series.Series

In [37]:
df2[['StartupName','CityLocation']].head()

    StartupName CityLocation
0      TouchKin    Bangalore
1       Ethinos       Mumbai
2  Leverage Edu    New Delhi
3          Zepo       Mumbai
4  Click2Clinic    Hyderabad

In [44]:
df['Rating']

0       3.75
1       2.75
2       3.00
3       3.50
4       3.50
5       2.75
6       3.50
7       3.50
8       3.75
9       4.00
10      2.75
11      3.00
12      3.25
13      3.75
14      2.75
15      3.00
16      3.25
17      4.00
18      3.25
19      3.50
20      4.00
21      3.50
22      3.75
23      3.75
24      3.75
25      2.75
26      3.25
27      3.50
28      3.50
29      2.75
        ...
1765    3.50
1766    3.00
1767    3.50
1768    2.75
1769    2.75
1770    3.00
1771    3.50
1772    3.50
1773    3.75
1774    3.25
1775    3.50
1776    3.50
1777    3.75
1778    2.75
1779    3.50
1780    3.50
1781    3.00
1782    3.50
1783    3.75
1784    3.00
1785    3.00
1786    3.25
1787    3.75
1788    3.25
1789    3.50
1790    3.75
1791    3.00
1792    3.50
1793    3.25
1794    3.00
Name: Rating, Length: 1795, dtype: float64

In [45]:
df.Rating.max()

5.0

In [46]:
df2.AmountInUSD

0        1,300,000
1              NaN
2              NaN
3          500,000
4          850,000
5        1,000,000
6        2,600,000
7       20,000,000
8        8,500,000
9       12,000,000
10       1,000,000
11             NaN
12             NaN
13       1,000,000
14             NaN
15       3,000,000
16       2,250,000
17         464,000
18             NaN
19      18,500,000
20             NaN
21             NaN
22             NaN
23         540,000
24       1,700,000
25       2,000,000
26       4,000,000
27             NaN
28             NaN
29             NaN
           ...
2342       330,000
2343           NaN
2344       200,000
2345        16,000
2346        16,000
2347        16,000
2348        16,000
2349        16,000
2350    11,000,000
2351           NaN
2352       200,000
2353    14,750,000
2354       325,000
2355           NaN
2356     3,250,000
2357       200,000
2358           NaN
2359           NaN
2360    56,000,000
2361    31,000,000
2362     1,500,000
2363           NaN
2364     1,000,000
2365    50,000,000
2366     2,500,000
2367     4,500,000
2368       825,000
2369     1,500,000
2370           NaN
2371       140,000
Name: AmountInUSD, Length: 2372, dtype: object

In [47]:
df2['AmountInUSD'].max()

'971,000'

In [49]:
df3['Unit Cost']

0       1.99
1      19.99
2       4.99
3      19.99
4       2.99
5       4.99
6       1.99
7       4.99
8       1.99
9       8.99
10      4.99
11      1.99
12     19.99
13      4.99
14    125.00
15     15.99
16      8.99
17      8.99
18     19.99
19      4.99
20      1.29
21     15.99
22      8.99
23     15.00
24      4.99
25     19.99
26      4.99
27      1.99
28      4.99
29      1.29
30      8.99
31    125.00
32      4.99
33     12.49
34     23.95
35    275.00
36      1.29
37      1.99
38     19.99
39      1.29
40      4.99
41     19.99
42      4.99
Name: Unit Cost, dtype: float64

In [50]:
df3['Unit Cost'].max()

275.0

In [51]:
df3['Total'].max()

1879.0599999999999

In [52]:
df.describe()

               REF  Review\nDate       Rating
count  1795.000000   1795.000000  1795.000000
mean   1035.904735   2012.325348     3.185933
std     552.886365      2.927210     0.478062
min       5.000000   2006.000000     1.000000
25%     576.000000   2010.000000     2.875000
50%    1069.000000   2013.000000     3.250000
75%    1502.000000   2015.000000     3.500000
max    1952.000000   2017.000000     5.000000

In [53]:
df2.describe()

               SNo
count  2372.000000
mean   1185.500000
std     684.881742
min       0.000000
25%     592.750000
50%    1185.500000
75%    1778.250000
max    2371.000000

In [54]:
df3.describe()

           Units   Unit Cost        Total
count  43.000000   43.000000    43.000000
mean   49.325581   20.308605   456.462326
std    30.078248   47.345118   447.022104
min     2.000000    1.290000     9.030000
25%    27.500000    3.990000   144.590000
50%    53.000000    4.990000   299.400000
75%    74.500000   17.990000   600.180000
max    96.000000  275.000000  1879.060000

In [55]:
df.index

RangeIndex(start=0, stop=1795, step=1)

In [61]:
df2.reset_index()

,Date,SNo,StartupName,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,01/08/2017,0,TouchKin,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
1,02/08/2017,1,Ethinos,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,02/08/2017,2,Leverage Edu,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
3,02/08/2017,3,Zepo,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN
4,02/08/2017,4,Click2Clinic,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000",NaN
5,01/07/2017,5,Billion Loans,Consumer Internet,Peer to Peer Lending platform,Bangalore,Reliance Corporate Advisory Services Ltd,Seed Funding,"1,000,000",NaN
6,03/07/2017,6,Ecolibriumenergy,Technology,Energy management solutions provider,Ahmedabad,"Infuse Ventures, JLL",Private Equity,"2,600,000",NaN
7,04/07/2017,7,Droom,eCommerce,Online marketplace for automobiles,Gurgaon,"Asset Management (Asia) Ltd, Digital Garage Inc",Private Equity,"20,000,000",NaN
8,05/07/2017,8,Jumbotail,eCommerce,online marketplace for food and grocery,Bangalore,"Kalaari Capital, Nexus India Capital Advisors",Private Equity,"8,500,000",NaN
9,05/07/2017,9,Moglix,eCommerce,B2B marketplace for Industrial products,Noida,"International Finance Corporation, Rocketship,...",Private Equity,"12,000,000",NaN
10,05/07/2017,10,Timesaverz,Consumer Internet,Hyperlocal home services provider,Mumbai,BCCL,Private Equity,"1,000,000",NaN
11,06/07/2017,11,Minjar,Technology,Cloud Solutions provider,Bangalore,"Blume Ventures, Contrarian Capital India Partn...",Seed Funding,NaN,NaN
12,06/07/2017,12,MyCity4kids,Consumer Internet,parenting blog and kidsâ events discovery plat...,Gurgaon,NaN,Seed Funding,NaN,NaN
13,07/07/2017,13,Clip App,Consumer Internet,Digital Media Video platform,Bangalore,"India Quotient, Shunwei Capital",Seed Funding,"1,000,000",NaN
14,07/07/2017,14,Upwardly.in,Consumer Internet,MF investment platform,Bangalore,"Sreeram Iyer, Suvo Sarkar, Anita Gupta, Likemi...",Seed Funding,NaN,NaN
15,10/07/2017,15,Autorox.co,Technology,Workshop Management Software Platform,Hyderabad,Mitsui & Co.,Private Equity,"3,000,000",NaN
16,11/07/2017,16,Fabogo,Consumer Internet,Salon & Spa Aggregation & Discovery platform,Pune,Dunamis Ventures Pte Ltd,Private Equity,"2,250,000",NaN
17,11/07/2017,17,Flickstree,Consumer Internet,Video Content Discovery Platform,Mumbai,"Venture Catalysts, Sourav Ganguly, Ankit Adity...",Seed Funding,"464,000",NaN
18,11/07/2017,18,Design Cafe,Consumer Internet,Online Interior Design platform,Bangalore,"Fireside Ventures, Apurva Salarpuria, Sidharth...",Seed Funding,NaN,NaN
19,12/07/2017,19,Innoviti,Technology,Digital payments solutions,Bangalore,"SBI-FMO Fund, Bessemer Venture Partners, Catam...",Private Equity,"18,500,000",NaN
20,12/07/2017,20,VDeliver,Logistics,Door Step Delivery platform,Hyderabad,"Corvus Ventures, MAPE Advisory Group",Private Equity,NaN,NaN
21,12/07/2017,21,Bottr.me,Technology,Chatbot creation tool,Bangalore,"500 Startups, Purvi Capital, Rajan Anandan, Ab...",Seed Funding,NaN,NaN
22,12/07/2017,22,Arcatron,Technology,Next Gen Mobility device manufacturer,Pune,Indian Angel Network,Seed Funding,NaN,NaN
23,14/07/2017,23,QwikSpec,Technology,Construction site operations and analytics pla...,Bangalore,"Brigade Innovations LLP, TV Mohandas Pai, Suha...",Seed Funding,"540,000",NaN
24,14/07/2017,24,Chumbak,eCommerce,Designer consumer products Marketplace,Bangalore,Blacksoil Capital Pvt. Ltd,Private Equity,"1,700,000",NaN
25,17/07/2017,25,Increff,Technology,Sales Solutions for Fashion Brands,Bangalore,"Sequoia Capital, Grey Orange, Rajesh Ramaiah, ...",Seed Funding,"2,000,000",NaN
26,17/07/2017,26,Vayana,Technology,Enterprise Banking Solutions,Pune,"IDG Ventures India Advisors, Jungle Ventures",Private Equity,"4,000,000",NaN
27,18/07/2017,27,MObiquest,Technology,Mobile Services & Solutions,Noida,One97 Communication Ltd,Private Equity,NaN,NaN
28,18/07/2017,28,Ambee,Consumer Internet,Ambulance Aggregation Services,Hyderabad,"Uber Technologies Inc, Amaya Capital LLP",Seed Funding,NaN,NaN
29,18/07/2017,29,Ideal Insurance,Consumer Internet,Online Insurance platform,Kolkata,Xelpmoc,Seed Funding,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2342,19/01/2015,2342,Refiral,NaN,NaN,NaN,Cogent E Services,Seed Funding,"330,000",NaN
2343,19/01/2015,2343,Ping Digital,NaN,NaN,NaN,Consortium of Angel Investors,Seed Funding,NaN,NaN
2344,19/01/2015,2344,HealthyWorld.in,NaN,NaN,NaN,Group of Angel Investors,Seed Funding,"200,000",NaN
2345,19/01/2015,2345,Hostel Dunia,NaN,NaN,NaN,Hyderabad Angels (at Startup Heroes event),Seed Funding,"16,000",NaN
2346,19/01/2015,2346,Play your sport,NaN,NaN,NaN,Hyderabad Angels (at Startup Heroes event),Seed Funding,"16,000",NaN
2347,19/01/2015,2347,Yo Grad,NaN,NaN,NaN,Hyderabad Angels (at Startup Heroes event),Seed Funding,"16,000",NaN
2348,19/01/2015,2348,Enabli,NaN,NaN,NaN,Hyderabad Angels (at Startup Heroes event),Seed Funding,"16,000",NaN
2349,19/01/2015,2349,CBS,NaN,NaN,NaN,Hyderabad Angels (at Startup Heroes event),Seed Funding,"16,000",NaN
2350,20/01/2015,2350,Hopscotch,NaN,NaN,NaN,Eduardo Saverin & Velos Capital,Private Equity,"11,000,000",NaN
2351,20/01/2015,2351,Amagi Media Labs,NaN,NaN,NaN,Premji Invest & Mayfield Fund,Private Equity,NaN,NaN
2352,20/01/2015,2352,HealthyWorld.in,NaN,NaN,NaN,Group of Angel Investors,Seed Funding,"200,000",NaN
2353,21/01/2015,2353,Simplilearn,NaN,NaN,NaN,"Mayfield India, Kalaari Capital, Helion Ventures",Private Equity,"14,750,000",NaN
2354,21/01/2015,2354,MyDreamStore,NaN,NaN,NaN,Undisclosed Investors,Seed Funding,"325,000",NaN
2355,21/05/2015,2355,Knit,NaN,NaN,NaN,"Rohit Jain, Amit Rambhia & Others",Seed Funding,NaN,NaN
2356,21/05/2015,2356,Villgro,NaN,NaN,NaN,Michael & Susan Dell Foundation,Seed Funding,"3,250,000",To fund edu startups
2357,22/01//2015,2357,Corporate360,NaN,NaN,NaN,Group of Angel Investors,Seed Funding,"200,000",NaN
2358,22/01/2015,2358,Freshmonk,NaN,NaN,NaN,"August Capital Partners, Michael Blakey",Seed Funding,NaN,NaN
2359,22/01/2015,2359,Englishleap.com,NaN,NaN,NaN,ANALEC,Private Equity,NaN,Majority Stake
2360,22/01/2015,2360,Antuit,NaN,NaN,NaN,"Goldman Sachs, Zodius Capital",Private Equity,"56,000,000",NaN
2361,22/01/2015,2361,Caratlane.com,NaN,NaN,NaN,Tiger Global,Private Equity,"31,000,000",Series D
2362,24/01/2015,2362,Aasaanjobs,NaN,NaN,NaN,"Inventus Capital Partners, IDG Ventures",Seed Funding,"1,500,000",NaN
2363,24/01/2015,2363,Impartus,NaN,NaN,NaN,Kaizen Private Equity,Private Equity,NaN,Series A
2364,25/01/2015,2364,Thrill App,NaN,NaN,NaN,People Group (Shaadi.com),Private Equity,"1,000,000",Strategic Funding
2365,27/01/2015,2365,CarDekho.com,NaN,NaN,NaN,"Hillhouse Capital, Tybourne Capital",Private Equity,"50,000,000",Series B
2366,28/01/2015,2366,Grabhouse.com,NaN,NaN,NaN,"Kalaari Capital, Sequoia Capital",Private Equity,"2,500,000",Series A
2367,29/01/2015,2367,Printvenue,NaN,NaN,NaN,Asia Pacific Internet Group,Private Equity,"4,500,000",NaN
2368,29/01/2015,2368,Graphene,NaN,NaN,NaN,KARSEMVEN Fund,Private Equity,"825,000",Govt backed VC Fund
2369,30/01/2015,2369,Mad Street Den,NaN,NaN,NaN,"Exfinity Fund, GrowX Ventures.",Private Equity,"1,500,000",NaN
2370,30/01/2015,2370,Simplotel,NaN,NaN,NaN,MakeMyTrip,Private Equity,NaN,"Strategic Funding, Minority stake"
2371,31/01/2015,2371,couponmachine.in,NaN,NaN,NaN,UK based Group of Angel Investors,Seed Funding,"140,000",NaN

In [64]:
df2.set_index('StartupName',inplace=True)

In [65]:
df2.loc['Zepo']

SNo                                                                 3
IndustryVertical                                    Consumer Internet
SubVertical                                    DIY Ecommerce platform
CityLocation                                                   Mumbai
InvestorsName       Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...
InvestmentType                                           Seed Funding
AmountInUSD                                                   500,000
Remarks                                                           NaN
Name: Zepo, dtype: object

In [66]:
df2.reset_index()

,StartupName,SNo,IndustryVertical,SubVertical,CityLocation,InvestorsName,InvestmentType,AmountInUSD,Remarks
0,TouchKin,0,Technology,Predictive Care Platform,Bangalore,Kae Capital,Private Equity,"1,300,000",NaN
1,Ethinos,1,Technology,Digital Marketing Agency,Mumbai,Triton Investment Advisors,Private Equity,NaN,NaN
2,Leverage Edu,2,Consumer Internet,Online platform for Higher Education Services,New Delhi,"Kashyap Deorah, Anand Sankeshwar, Deepak Jain,...",Seed Funding,NaN,NaN
3,Zepo,3,Consumer Internet,DIY Ecommerce platform,Mumbai,"Kunal Shah, LetsVenture, Anupam Mittal, Hetal ...",Seed Funding,"500,000",NaN
4,Click2Clinic,4,Consumer Internet,healthcare service aggregator,Hyderabad,"Narottam Thudi, Shireesh Palle",Seed Funding,"850,000",NaN
5,Billion Loans,5,Consumer Internet,Peer to Peer Lending platform,Bangalore,Reliance Corporate Advisory Services Ltd,Seed Funding,"1,000,000",NaN
6,Ecolibriumenergy,6,Technology,Energy management solutions provider,Ahmedabad,"Infuse Ventures, JLL",Private Equity,"2,600,000",NaN
7,Droom,7,eCommerce,Online marketplace for automobiles,Gurgaon,"Asset Management (Asia) Ltd, Digital Garage Inc",Private Equity,"20,000,000",NaN
8,Jumbotail,8,eCommerce,online marketplace for food and grocery,Bangalore,"Kalaari Capital, Nexus India Capital Advisors",Private Equity,"8,500,000",NaN
9,Moglix,9,eCommerce,B2B marketplace for Industrial products,Noida,"International Finance Corporation, Rocketship,...",Private Equity,"12,000,000",NaN
10,Timesaverz,10,Consumer Internet,Hyperlocal home services provider,Mumbai,BCCL,Private Equity,"1,000,000",NaN
11,Minjar,11,Technology,Cloud Solutions provider,Bangalore,"Blume Ventures, Contrarian Capital India Partn...",Seed Funding,NaN,NaN
12,MyCity4kids,12,Consumer Internet,parenting blog and kidsâ events discovery plat...,Gurgaon,NaN,Seed Funding,NaN,NaN
13,Clip App,13,Consumer Internet,Digital Media Video platform,Bangalore,"India Quotient, Shunwei Capital",Seed Funding,"1,000,000",NaN
14,Upwardly.in,14,Consumer Internet,MF investment platform,Bangalore,"Sreeram Iyer, Suvo Sarkar, Anita Gupta, Likemi...",Seed Funding,NaN,NaN
15,Autorox.co,15,Technology,Workshop Management Software Platform,Hyderabad,Mitsui & Co.,Private Equity,"3,000,000",NaN
16,Fabogo,16,Consumer Internet,Salon & Spa Aggregation & Discovery platform,Pune,Dunamis Ventures Pte Ltd,Private Equity,"2,250,000",NaN
17,Flickstree,17,Consumer Internet,Video Content Discovery Platform,Mumbai,"Venture Catalysts, Sourav Ganguly, Ankit Adity...",Seed Funding,"464,000",NaN
18,Design Cafe,18,Consumer Internet,Online Interior Design platform,Bangalore,"Fireside Ventures, Apurva Salarpuria, Sidharth...",Seed Funding,NaN,NaN
19,Innoviti,19,Technology,Digital payments solutions,Bangalore,"SBI-FMO Fund, Bessemer Venture Partners, Catam...",Private Equity,"18,500,000",NaN
20,VDeliver,20,Logistics,Door Step Delivery platform,Hyderabad,"Corvus Ventures, MAPE Advisory Group",Private Equity,NaN,NaN
21,Bottr.me,21,Technology,Chatbot creation tool,Bangalore,"500 Startups, Purvi Capital, Rajan Anandan, Ab...",Seed Funding,NaN,NaN
22,Arcatron,22,Technology,Next Gen Mobility device manufacturer,Pune,Indian Angel Network,Seed Funding,NaN,NaN
23,QwikSpec,23,Technology,Construction site operations and analytics pla...,Bangalore,"Brigade Innovations LLP, TV Mohandas Pai, Suha...",Seed Funding,"540,000",NaN
24,Chumbak,24,eCommerce,Designer consumer products Marketplace,Bangalore,Blacksoil Capital Pvt. Ltd,Private Equity,"1,700,000",NaN
25,Increff,25,Technology,Sales Solutions for Fashion Brands,Bangalore,"Sequoia Capital, Grey Orange, Rajesh Ramaiah, ...",Seed Funding,"2,000,000",NaN
26,Vayana,26,Technology,Enterprise Banking Solutions,Pune,"IDG Ventures India Advisors, Jungle Ventures",Private Equity,"4,000,000",NaN
27,MObiquest,27,Technology,Mobile Services & Solutions,Noida,One97 Communication Ltd,Private Equity,NaN,NaN
28,Ambee,28,Consumer Internet,Ambulance Aggregation Services,Hyderabad,"Uber Technologies Inc, Amaya Capital LLP",Seed Funding,NaN,NaN
29,Ideal Insurance,29,Consumer Internet,Online Insurance platform,Kolkata,Xelpmoc,Seed Funding,NaN,NaN
...,...,...,...,...,...,...,...,...,...
2342,Refiral,2342,NaN,NaN,NaN,Cogent E Services,Seed Funding,"330,000",NaN
2343,Ping Digital,2343,NaN,NaN,NaN,Consortium of Angel Investors,Seed Funding,NaN,NaN
2344,HealthyWorld.in,2344,NaN,NaN,NaN,Group of Angel Investors,Seed Funding,"200,000",NaN
2345,Hostel Dunia,2345,NaN,NaN,NaN,Hyderabad Angels (at Startup Heroes event),Seed Funding,"16,000",NaN
2346,Play your sport,2346,NaN,NaN,NaN,Hyderabad Angels (at Startup Heroes event),Seed Funding,"16,000",NaN
2347,Yo Grad,2347,NaN,NaN,NaN,Hyderabad Angels (at Startup Heroes event),Seed Funding,"16,000",NaN
2348,Enabli,2348,NaN,NaN,NaN,Hyderabad Angels (at Startup Heroes event),Seed Funding,"16,000",NaN
2349,CBS,2349,NaN,NaN,NaN,Hyderabad Angels (at Startup Heroes event),Seed Funding,"16,000",NaN
2350,Hopscotch,2350,NaN,NaN,NaN,Eduardo Saverin & Velos Capital,Private Equity,"11,000,000",NaN
2351,Amagi Media Labs,2351,NaN,NaN,NaN,Premji Invest & Mayfield Fund,Private Equity,NaN,NaN
2352,HealthyWorld.in,2352,NaN,NaN,NaN,Group of Angel Investors,Seed Funding,"200,000",NaN
2353,Simplilearn,2353,NaN,NaN,NaN,"Mayfield India, Kalaari Capital, Helion Ventures",Private Equity,"14,750,000",NaN
2354,MyDreamStore,2354,NaN,NaN,NaN,Undisclosed Investors,Seed Funding,"325,000",NaN
2355,Knit,2355,NaN,NaN,NaN,"Rohit Jain, Amit Rambhia & Others",Seed Funding,NaN,NaN
2356,Villgro,2356,NaN,NaN,NaN,Michael & Susan Dell Foundation,Seed Funding,"3,250,000",To fund edu startups
2357,Corporate360,2357,NaN,NaN,NaN,Group of Angel Investors,Seed Funding,"200,000",NaN
2358,Freshmonk,2358,NaN,NaN,NaN,"August Capital Partners, Michael Blakey",Seed Funding,NaN,NaN
2359,Englishleap.com,2359,NaN,NaN,NaN,ANALEC,Private Equity,NaN,Majority Stake
2360,Antuit,2360,NaN,NaN,NaN,"Goldman Sachs, Zodius Capital",Private Equity,"56,000,000",NaN
2361,Caratlane.com,2361,NaN,NaN,NaN,Tiger Global,Private Equity,"31,000,000",Series D
2362,Aasaanjobs,2362,NaN,NaN,NaN,"Inventus Capital Partners, IDG Ventures",Seed Funding,"1,500,000",NaN
2363,Impartus,2363,NaN,NaN,NaN,Kaizen Private Equity,Private Equity,NaN,Series A
2364,Thrill App,2364,NaN,NaN,NaN,People Group (Shaadi.com),Private Equity,"1,000,000",Strategic Funding
2365,CarDekho.com,2365,NaN,NaN,NaN,"Hillhouse Capital, Tybourne Capital",Private Equity,"50,000,000",Series B
2366,Grabhouse.com,2366,NaN,NaN,NaN,"Kalaari Capital, Sequoia Capital",Private Equity,"2,500,000",Series A
2367,Printvenue,2367,NaN,NaN,NaN,Asia Pacific Internet Group,Private Equity,"4,500,000",NaN
2368,Graphene,2368,NaN,NaN,NaN,KARSEMVEN Fund,Private Equity,"825,000",Govt backed VC Fund
2369,Mad Street Den,2369,NaN,NaN,NaN,"Exfinity Fund, GrowX Ventures.",Private Equity,"1,500,000",NaN
2370,Simplotel,2370,NaN,NaN,NaN,MakeMyTrip,Private Equity,NaN,"Strategic Funding, Minority stake"
2371,couponmachine.in,2371,NaN,NaN,NaN,UK based Group of Angel Investors,Seed Funding,"140,000",NaN